# Default ignored files
/shelf/
/.idea
# Datasource local storage ignored files
/../../../../:\MyProjects\middle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/chapter_007/*.iml
